* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header */
header {
    background-color: yellow;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 40px;
}

/* choice container */
#choice-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px;
    background-color: orange;
}

#choice-container > button {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    border: none;
    background-color: lavender;
}

#choice-container > button:hover {
    background-color: purple;
}

#choice-container > button > img {
    width: 150px;
    height: 150px;
}

/* game container */
#game-container {
    display: flex;
    align-items: flex-end;
    padding: 40px;
    background-color: blueviolet;
}

/* info */
#player-info,
#computer-info {
    flex: 0 1 auto;
    width: 200px;
}

.stats {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

.hp-stats {
    display: flex;
    align-items: center;
    gap: 2px;
}

progress {
    -webkit-appearance: none;
    width: 60px;
    height: 10px;
}

progress::-webkit-progress-bar {
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
}

progress::-webkit-progress-value {
    background-color: green;
    border-radius: 20px;
}

#player-choice,
#computer-choice {
    border: 5px solid black;
    height: 200px;
}

/* result container */
#result-container {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    width: 200px;
    height: 200px;
    gap: 20px;
    padding: 20px;
}

#result-text {
    display: flex;
    flex-direction: column;
}

#new-game-button {
    display: none;
    width: 100px;
    height: 50px;
    border-radius: 15px;
    border: none;
    background-color: lavender;
}

/* footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: brown;
}
